.banner-container{
    background-color: #e7f8ee;
    padding: 20px;
}
.btn-course{
    background-color: #309255;
    border: 2px solid #309255;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;

}
.logo{
    width: 500px;
    margin-bottom: -20px;
}